<div class="d-flex justify-content-between align-items-center border-bottom border-primary p-3 mb-3">
    <h3 class="text-center filterHeader p-2">Filtreaza evenimentele</h3>
    <button routerLink="/events/new" type="button" class="btn btn-lg p-2">Creaza Eveniment</button>
</div>
<div class="row" class="d-flex flex-column flex-md-row align-items-center justify-content-center">
    <div class="col-12 col-md-3 mx-3 my-3 p-3 bg-primary bg-opacity-10 border border-primary border-end-0 rounded-start">
        <form [formGroup]="startDateForm" (ngSubmit)="submitStartForm()">
            <div class="mb-3">
                <label for="startDate">Dupa data de incepere</label>
                <input type="date" class="form-control" formControlName="startDate" id="startDate" />
            </div>
            <button type="submit" class="btn btn-warning" [disabled]="!startDateForm.valid">Filtreaza</button>
        </form>
    </div>
    <div class="col-12 col-md-6 mx-3 my-3 p-3 bg-primary bg-opacity-10 border border-primary border-start-0 border-end-0">
        <form [formGroup]="startEndForm" (ngSubmit)="submitStartEndForm()">
            <div class="row">
                <div class="mb-3 col-6">
                    <label for="startDate">Dupa data de incepere</label>
                    <input type="date" class="form-control" formControlName="startDate" id="startDate" />
                </div>
                <div class="mb-3 col-6">
                    <label for="endDate">si data de final</label>
                    <input type="date" class="form-control" formControlName="endDate" id="endDate" />
                </div>
            </div>
            <button type="submit" class="btn btn-warning" [disabled]="!startEndForm.valid">Filtreaza</button>
        </form>
    </div>
    <div class="col-12 col-md-3 mx-3 my-3 p-3 bg-primary bg-opacity-10 border border-primary border-start-0 rounded-end">
        <form [formGroup]="categoryForm" (ngSubmit)="submitCategoryForm()">
            <div class="mb-3">
                <label for="category">Dupa categorie</label>
                <select formControlName="category" class="form-select" aria-label="Default select example">
                    <option value="theater">Teatru</option>
                    <option value="music_festival">Festival de muzica</option>
                    <option value="comdey_show">Comedie</option>
                    <option value="movie_festival">Festval de film</option>
                    <option value="sports">Sport</option>
                </select>
            </div>
            <button type="submit" class="btn btn-warning" [disabled]="!categoryForm.valid">Filtreaza</button>
        </form>
    </div>
</div>
