<header></header>
<div class="container-fluid d-flex align-items-sm-center backdrop">
    <div class="container heading mx-auto">
        <h3>Bine ati venit in Sibiu!</h3>
        <h2>Ai venit in locul potrivit pentru a primi cele mai utile informatii pentru o experienta de neuitat</h2>
        <a class="btn btn-primary btn-xl text-uppercase" href="#locations">Descopera</a>
    </div>
</div>
<section class="page-section bg-light" id="locations">
    <show-locations></show-locations>
</section>
<section class="page-section" id="mapquest">
    <app-mapquest></app-mapquest>
</section>
<app-footer></app-footer>
