<div class="container-fluid d-flex align-items-center backdrop">
    <div class="row container p-3">
        <div class="col-md-8">
            <div class="row mb-3">
                <div class="col-12 heading">
                    <h1>CE VIZITAM IN SIBIU?</h1>
                    <p class="text-muted">OBIECTIVELE TURISTICE ALE SIBIULILUI</p>
                </div>
            </div>
            <div class="row mb-3 text-center">
                <div class="col-6"><a class="link-dark" routerLink="/auth/login">AUTENTIFICARE</a></div>
                <div class="col-6"><a class="link-dark" routerLink="/locations/get">CE VIZITAM</a></div>
            </div>
            <div class="row mb-3 text-center">
                <div class="col-6"><a class="link-dark" routerLink="/locations/create">ADAUGA OBIECTIV</a></div>
                <div class="col-6"><a class="link-dark">GRUPURI</a></div>
            </div>
            <div class="row mb-3 text-center">
                <div class="col-6"><a class="link-dark">CALENDAR EVENIMENTE</a></div>
                <div class="col-6"><a class="link-dark">GASESTE CAZARE</a></div>
            </div>
            <div class="row mb-3 text-center">
                <div class="col-12"><a class="link-dark">HARTA CU LOCATIILE</a></div>
            </div>
        </div>
    </div>
</div>
