* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.backdrop {
    height: 100vh;
    width: 100%;
    background-image: url('../../assets/imgs/altumcode-aIqmMlAcgr8-unsplash.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
}

@media (min-width: 576px) {
    .backdrop {
        background-image: url('../../assets/imgs/sibiuPiataMica.jpg');
    }
}

.heading h3 {
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 500;
    line-height: 1.5rem;
    margin-bottom: 25px;
    font-family: 'Roboto Slab', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.heading h2 {
    font-size: 2rem;
    font-style: italic;
    font-weight: 700;
    line-height: 3.25rem;
    margin-bottom: 2rem;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-primary {
    color: #fff;
    background-color: #ffc800;
    border-color: #ffc800;
}
.text-uppercase {
    text-transform: uppercase !important;
}
.btn-xl {
    padding: 1rem 2rem;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-size: 1rem;
    font-weight: 700;
    font-style: italic;
}

.page-section {
    padding: 6rem 0;
}

#mapquest {
    height: 70vh;
}

@media (max-width: 576px) {
    .heading {
        display: flex;
        flex-direction: column;
        margin-top: auto;
        margin-bottom: 2rem;
        color: #fff;
        background-color: #212529;
        padding: 0.5rem;
        opacity: 0.8;
        border-radius: 0.2rem;
    }
    .heading h2,
    .heading h3 {
        font-size: 1rem;
        opacity: 1;
    }
    .heading h2 {
        margin-bottom: 0.5rem;
    }
    .btn-xl {
        padding: 0.3rem 0.7rem;
        opacity: 1;
    }
    /* {
        font-size: 0.7rem;
    } */
}
