<div class="container">
    <div class="btn-group mb-3" *ngIf="isAuthor">
        <button routerLink="edit" type="button" class="btn btn-info">Editeaza</button>
        <button (click)="locationDelete()" type="button" class="btn btn-danger">Sterge</button>
    </div>
    <div class="row">
        <div class="col-md-8 mb-3">
            <div id="carouselExampleControls" class="carousel slide mb-3" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" *ngFor="let image of locationObj?.location.images">
                        <img src="http://localhost:3500/imgFiles/get/{{ image }}" class="d-block w-100" />
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-md-4">
            <div>
                <h3 class="caption-heading mb-3">{{ locationObj?.location.name }}</h3>
                <div *ngIf="locationObj?.location.ticket == 'true'">
                    <button class="btn btn-info mb-3 d-block px-2 caption-subheading">Intrarea se face cu bilet</button>
                    <button class="btn btn-primary mb-3 d-block px-2 caption-subheading">Pretul biletului: {{ locationObj?.location.price }} RON</button>
                </div>
            </div>
            <p class="caption-subheading">{{ locationObj?.location.description }}</p>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-6 mb-3 border-bottom">
            <div class="" *ngIf="locationObj?.location.reviews.length > 0">
                <h3 class="caption-heading mb-3">Rating-urile vizitatorilor</h3>
                <div class="card mb-3" *ngFor="let review of locationObj?.location.reviews">
                    <div class="card-body">
                        <h5 class="card-title caption-subheading">{{ review.author.username | titlecase }}, a lasat un rating de {{ review.rating }} din 5</h5>
                        <div class="starability-result" [attr.data-rating]="review.rating"></div>
                        <hr />
                        <p class="card-title description">{{ review.description }}</p>
                    </div>
                </div>
            </div>
            <div *ngIf="locationObj?.location.reviews.length < 1">
                <h3>Aceasta locatie nu are nici un rating</h3>
            </div>
        </div>
        <div class="col-lg-6" *ngIf="isLogedIn">
            <h3 class="caption-heading mb-3">Lasa un review</h3>
            <form [formGroup]="reviewForm" (ngSubmit)="submitReview()">
                <div class="mb-3">
                    <input formControlName="description" type="text" class="form-control" id="description" placeholder="Descrie-ti experienta" />
                </div>
                <div class="mb-3">
                    <!-- <label for="rating" class="form-label">Rating</label>
                    <input formControlName="rating" type="range" class="form-range" min="1" max="5" id="rating" /> -->
                    <fieldset class="starability-basic">
                        <legend class="caption-subheading">Rating:</legend>
                        <input formControlName="rating" type="radio" id="no-rate" class="input-no-rate" name="rating" value="1" checked aria-label="No rating." />
                        <input formControlName="rating" type="radio" id="first-rate1" name="rating" value="1" />
                        <label for="first-rate1" title="Terrible">1 star</label>
                        <input formControlName="rating" type="radio" id="first-rate2" name="rating" value="2" />
                        <label for="first-rate2" title="Not good">2 stars</label>
                        <input formControlName="rating" type="radio" id="first-rate3" name="rating" value="3" />
                        <label for="first-rate3" title="Average">3 stars</label>
                        <input formControlName="rating" type="radio" id="first-rate4" name="rating" value="4" />
                        <label for="first-rate4" title="Very good">4 stars</label>
                        <input formControlName="rating" type="radio" id="first-rate5" name="rating" value="5" />
                        <label for="first-rate5" title="Amazing">5 stars</label>
                    </fieldset>
                </div>
                <button type="submit" class="btn btn-success" [disabled]="!reviewForm.valid">Adauga</button>
            </form>
        </div>
    </div>
</div>
